<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>中国</string>
	<key>subAreas</key>
	<array>
		<dict>
			<key>name</key>
			<string>北京</string>
			<key>subAreas</key>
			<array>
				<dict>
					<key>name</key>
					<string>朝阳</string>
					<key>subAreas</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>海淀</string>
					<key>subAreas</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>上海</string>
			<key>subAreas</key>
			<array>
				<dict>
					<key>name</key>
					<string>浦东</string>
					<key>subAreas</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>浦西</string>
					<key>subAreas</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>广东</string>
			<key>subAreas</key>
			<array>
				<dict>
					<key>name</key>
					<string>广州</string>
					<key>subAreas</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>深圳</string>
					<key>subAreas</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>河北</string>
			<key>subAreas</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
