<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <title>Practise</title>
</head>

<body>

<div ng-app="product">
    <!-- Navigation Bar START-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="search"> <!-- or use   search.id here-->
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- Navigation Bar END-->
    <div class="container" ng-controller="productController">

        <table class="table">
            <thead>
            <tr>
                <th> Product #</th>
                <th> Product Name</th>
                <th> Product Price</th>
            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="product in productData | filter: {id :search}">  <!-- | filter : search -->
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price | currency : '(RMB)'}}</td>

            </tr>

            </tbody>
        </table>


    </div>


</div>


</body>
<script type="text/javascript" src="../vendor/angularjs/angular.js"></script>

<script>
    angular.module('product', []).service('productData', function () {
        return [
            {
                id: 3333,
                name: 'iphone',
                price: 5400
            }, {
                id: 2134,
                name: 'iphone2',
                price: 2400
            }, {
                id: 1435,
                name: 'iphone4',
                price: 4400
            }, {
                id: 4636,
                name: 'iphone5',
                price: 5200
            }
        ];
    }).controller('productController', function ($scope, productData) {
        $scope.productData = productData;
    });

</script>


</html>