<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Antelope Canyon.jpg</string>
	<string>Bahamas Aerial.jpg</string>
	<string>Blue Pond.jpg</string>
	<string>Bristle Grass.jpg</string>
	<string>Brushes.jpg</string>
	<string>Circles.jpg</string>
	<string>Ducks on a Misty Pond.jpg</string>
</array>
</plist>
