<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Controller</title>
</head>

<body>

<div ng-app="myApp">
    <div ng-controller="firstController">
        <input type="text" ng-model="data.name">
        <input type="text" ng-model="Data.message">

        <p>
            fisrt data: {{data.name}}
            first Data: {{Data.message}}
        </p>
    </div>


    <div ng-controller="secondController">
        <p>
            second data: {{data.name}}
            second Data: {{Data.message}}
        </p>
    </div>
</div>


</body>
<script type="text/javascript" src="../vendor/angularjs/angular.js"></script>

<script>
    var myApp = angular.module('myApp', [])
            .factory('Data', function(){
                return {
                    message : 'shared data'
                }
            })
            .controller('firstController', function ($scope , Data) {
                // #1
//                $scope.name = 'zhangsan';

                // #2 通过引用数据来共享数据
                $scope.data = {
                    name: 'zhangsan'
                }

                // #3 通过绑定服务方法来共享数据
                $scope.Data = Data;

            })
            .controller('secondController', function ($scope, Data) {
                // #1
//                $scope.name = $scope.$$prevSibling.name; // 只是初始化了这个这个值, 没有双向绑定

                //#2 通过引用数据来共享数据
                $scope.data = $scope.$$prevSibling.data;

                // #3 通过绑定服务方法来共享数据
                $scope.Data = Data;

            });

</script>


</html>