<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Controller</title>
    <style>
        .red {
            color: red;
        }
    </style>
</head>

<body>

<div ng-app="myApp">
    <p>{{1+1}}</p>
    <p ng-bind="1+1"></p>
    <!--<p ng-bind-template="{{ 1+1 }}"></p>-->

    <!-- $scope.cityArr == xxxx-->

    <ul ng-init="cityArr = ['shanghai', 'beijing','guangzhou']" ng-class="{red: status}">
        <li ng-repeat="city in cityArr">
            <span>index:{{$index}}</span>
            <span>index:{{$first}}</span>
            <span>index:{{$middle}}</span>
            <span>index:{{$last}}</span>
            <span>index:{{city}}</span>

        </li>
    </ul>


    <div ng-include="'other.html'">
        The following is from other.html
    </div>

    <div ng-include src="'other.html'">
        The 2nd other.html, not recommended
    </div>


    <br>------------------------------------

    <div ng-controller="firstController">
        <button ng-click="changeStatus($event)"> Change status</button>
        <p>{{status}}</p>


        <br>------------------------------------

        <div ng-style="{color: 'red', 'margin-top': '50px'}">

            ng-style testing
        </div>


        <!--<ul ng-switch on="{{status}}">-->
        <!--<li ng-switch-when="true">-->
        <!--true-->
        <!--</li>-->
        <!--<li ng-switch-when="false">-->
        <!--false-->
        <!--</li>-->
        <!--</ul>-->

        <img ng-src="{{src}}"/>

        <div ng-if="status">
            status show
        </div>

    </div>

</div>


</body>
<script type="text/javascript" src="../vendor/angularjs/angular.js"></script>

<script>
    var myApp = angular.module('myApp', [], function () {


    });

    myApp.controller('firstController', function ($scope) {
        $scope.status = false;
        $scope.changeStatus = function (event) {
            // this is how you change angular obj to jquery obj
            angular.element(event.target).html('Changed Status' + $scope.status);
            $scope.status = !$scope.status;
            $scope.src = 'https://angularjs.org/img/AngularJS-large.png';
        };


//        $scope.defaultStyle = {
//            color: 'red',
//            'margin-top','50px'
//        }v

    });


</script>


</html>