<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>

    <title>Demo07</title>
</head>


<body class="container">


<header class="page-header"><h1>Demo07</h1></header>

<div ng-controller="ctrl">

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="b in books">
            <span class="glyphicon glyphicon-bookmark"></span>

            <span data-price="{{b.price}}" ng-click="showPrice($event)">{{b.title}}</span>
            <span data-id="{{b.id}}" ng-click="hideFunc($event)" style="cursor: pointer;" class="pull-right glyphicon glyphicon-remove"></span>
        </li>
    </ul>

</div>


</body>


<script>
    function ctrl($scope, $http) {
        $http.get("json/books.json").success(function (r) {
            $scope.books = r;
            console.log(r);


            $scope.hideFunc = function (event) {
                alert("Deleting book with ID: ["+ $(event.target).attr("data-id")+"]");
                $(event.target).parent().hide(250);
            }

            $scope.showPrice = function(event){
                var v = $(event.target).attr("data-price");
                console.log(v);
            }
        });
    }
</script>

</html>